.maincont{
    background-color:#24252A;
    background: white;
}
.submitbtn
{
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    outline: none;
    border: none;
    padding: .5rem;
    color: white;
    margin-top: 1rem;
    background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
}


.studentcontainer
{
    width: 70%;
}
.studentcard
{
    height: 140px;
    width: 100%;
    background-color: royalblue;
    color: white;
    margin:auto;
    background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);

    color:whitesmoke;
    margin-top: 1rem;
    display: flex;
    
}
.cardcontent
{
    width: 65%;
}
.cardbtn
{
    width: 35%;
}

.dataview
{
    display: grid;
    margin: auto;
    width: 70%;
    grid-template-columns: 1fr 1fr 1fr;
}


@media(max-width:900px)
{
    .dataview
    {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
    }
    .studentcontainer
    {
        width: 100%;
    }
    .studentcard
    {
        width: 80%;
    }
    .cardcontent
{
    width: 70%;
}
.cardbtn
{
    width: 30%;
}
}



.link
{
    text-decoration: none;
    color: #344767;
    font-size: 1rem;
}

.list-item
{
    margin: auto;
    width: 90%;
    margin-top: 1rem;
    border-radius: .5rem;
    padding: .5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.icon
{
    
    padding: .3rem;
    width: 2rem;

}












.StudentForm
{
    margin-left: 30rem;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
}
.StudentEdit
{
   background: white;
   padding: 2rem;
   margin-left: 30rem;
   display: flex;
   flex-direction: column;
   width: 30%;
   margin: auto;
   margin-top: 5rem;
}
.FilterContainer
{
    width: 20%;
    margin: auto;
    display: flex;
    flex-direction: column;
    
}



@media(max-width:900px)
{

    .FilterContainer
    {
        width: 80%;
        flex-direction: column;
    }
    .StudentForm
    {
        width: 80%;
    }
    .StudentEdit
    {
        width: 80%;
    }
   
}













.TestForm
{
    margin-left: 30rem;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
}

.datagrid
{
    background-color: white;
    width: 50%;
    margin: auto;
    margin-top: 1rem;


}

.visualization
{
  width: 50%;
  margin: auto;
  margin-top: 7rem;
}
.ResultContainer
{
  background-color: white;
  width: 60%;
  margin: auto;
  padding: 2rem;
  margin-top: 2rem;
}
.resultgrid
{
    background: white;
    width: 50%;
    height: 30rem;
    margin: auto;
    margin-top: 1rem;

}
@media (max-width:900px) {

    .TestForm
    {
        width: 80%;
    }
    
    .datagrid
    {
        width: 100%;
    }
    .visualization
    {
        width: 90%;
    }
    .ResultContainer
    {
        width: 100%;
    }
    .resultgrid
    {
        width: 100%;
    }
}